@import '../theme/variables.scss';

.loading {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 225px;
  p {
    margin: 0;
    text-align: center;
    font-family: $font__main;
    font-size: 16px;
  }
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 7em;
    height: 7em;
  }
  .loader {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.75em solid $secondary__color;
    border-right: 0.75em solid $secondary__color;
    border-bottom: 0.75em solid $secondary__color;
    border-left: 0.75em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.2s infinite linear;
    animation: load8 1.2s infinite linear;
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
