.error {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 225px;
  text-align: center;
  .errorImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .sadImage {
      width: 115px;
    }
    .refresh {
      position: absolute;
      height: 30px;
      right: 10%;
      bottom: 0;
    }
  }
}
