@import '../theme/variables.scss';

.toolbar {
  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 10px;
      a {
        text-transform: uppercase;
        text-decoration: none;
        color: $primary__color;
      }
    }
  }
}
