@import '../theme/variables.scss';

.dropUpload {
  width: 100%;
  border: dashed 2px $primary__color;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: $border-radius;
  text-align: center;
  .browse {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    p {
      font-size: 20px;
      text-align: center;
      margin: 10px 15px 10px 0;
    }
  }
}
