@import '../theme/variables.scss';

.uploadThumbnail {
  min-height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.delete {
  position: absolute;
  top: -15px;
  right: -15px;
}

.delete button {
  height: 30px;
  width: 30px;
  background: #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.12),
    0 3px 4px 0 rgba(0, 0, 0, 0.14);
}

.delete button:hover {
  background: rgb(205, 205, 205);
}

.delete button svg {
  color: $primary__color;
  width: 20px;
}

.errorBorder {
  border: 2px solid $secondary__color;
}

.errorImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img.uploadedImage {
  width: 105%;
  height: 105%;
  object-fit: cover;
}

img.sadImage {
  width: 115px;
}

img.refresh {
  position: absolute;
  height: 30px;
  right: 10%;
  bottom: 0;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  p {
    margin: 0;
    text-align: center;
    font-family: $font__main;
    font-size: 16px;
  }
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 7em;
  height: 7em;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.75em solid $secondary__color;
  border-right: 0.75em solid $secondary__color;
  border-bottom: 0.75em solid $secondary__color;
  border-left: 0.75em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.2s infinite linear;
  animation: load8 1.2s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
