@import '../../theme/variables.scss';

.tagline {
  font-family: $font__main;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3.53px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.heading {
  font-family: $font__secondary;
  font-size: 3.75rem;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin-top: 1.5rem;
}

.introText1 {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.introText2 {
  max-width: 814px;
  margin-left: auto;
  margin-right: auto;
}

.removeNotice {
  font-style: italic;
}

.emailLink {
  color: $primary__color;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.25px;
}
