@import '../../theme/variables.scss';

.intro {
  text-align: left;
}

.heading {
  font-family: $font__secondary;
  font-size: 3.75rem;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin: 1.5rem 0;
  max-width: 720px;
}

.description {
  font-size: 1.5rem;
  font-style: italic;
  color:rgba(0, 0, 0, 0.6);
}

.searchCard {
  max-width: 1280px;
  margin: auto;
}

.results {
  margin-top: 4rem;
}

.categoryHeading {
  display: flex;
  justify-content: space-between;
}
