*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Reference: https://gist.github.com/hsleonis/55712b0eafc9b25f1944 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  
  // tablet: 768, // 48rem
  // tabletLg: 1024, // 64rem
  // desktop: 1440 //  90rem
  // @media only screen and (min-width: 48em) {
  //   font-size:  1.0625rem; //70%;
  // } //768px   --
  // @media only screen and (min-width: 64em) {
  //   font-size: 1.125rem//80%;
  // } //768px   --
  // @media only screen and (min-width: 90em) {
  //   font-size: 1.1875rem //90%;
  // } //768px   -
}
body {
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
}



// h1 {
//   font-size: 96px;
//   font-weight: 300;
//   line-height: 1.17;
//   letter-spacing: -1.5px;
// }

// h2 {
//   font-size: 60px;
//   font-weight: 300;
//   line-height: 1.2;
//   letter-spacing: -0.5px;
// }

// h3 {
//   font-size: 48px;
//   font-style: normal;
//   line-height: 1.17;
// }

// h4 {
//   font-size: 34px;
//   line-height: 1.06;
// }

// h5 {
//   font-size: 24px;
//   line-height: 1;
//   letter-spacing: 0.18px;
// }

// h6 {
//   font-size: 20px;
//   line-height: 1.2;
//   letter-spacing: 0.15px;
// }

button {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 1.25px;
}

// p {
//   font-size: 1.25rem; // 20px
//   line-height: 1.6;
//   letter-spacing: 0.15px;
//   margin-top: 2rem;
//   margin-top: 2rem;
// }

a {
  font-weight: bold;
}




@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
