@import './variables.scss';

/* Reference: https://gist.github.com/hsleonis/55712b0eafc9b25f1944 */
* {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

html,
body,
#__next {
  height: 100%;
}

body {
  font-family: $font__main;
  color: $text__main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__secondary;
}

h1 {
  font-size: 96px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 60px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
}

h4 {
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
}

h5 {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.18px;
}

h6 {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.15px;
}

button {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 1.25px;
}

.btn__primary {
  background-color: $primary__color;
  color: #fff;
  border-radius: $border-radius;
  border: none;
  padding: 6px 16px;
}

input {
  margin: 0 0 3px;
  padding: 10px 15px;
  border: 1px solid $border__color;
  border-radius: $border-radius;
}

p {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.15px;
  margin-top: 2rem;
  margin-top: 2rem;
}
