// Fonts
$font__main: 'gira-sans', sans-serif;
$font__secondary: 'brandon-grotesque', sans-serif;

// Colors
$text__main: rgba(0, 0, 0, 0.87);
$text__secondary: #464852;
$border__color: rgba(0, 0, 0, 0.38);
$primary__color: #be2926;

// Other
$border-radius: 4px;
