// Fonts
$font__main: 'gira-sans', sans-serif;
$font__secondary: 'brandon-grotesque', sans-serif;

// Colors
$text__main: rgba(0, 0, 0, 0.87);
$text__secondary: #464852;
$text__tertiary: rgba(0, 0, 0, 0.5);
$border__color: rgba(0, 0, 0, 0.38);
$primary__color: #be2926;
$secondary__color: #8a9918;

// Other
$border-radius: 4px;
